
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Upload Meme</title>

    <!-- Bootstrap core CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
      
    <link rel="stylesheet" href="main.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="/app.css">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-red fixed-top bg-red">
        <a class="navbar-brand" href="home"><img id="logo" src="/MEME NUMBA WAN.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="uploadmeme">Upload a Meme</a> <!--upload a meme button-->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile">My Profile</a> <!--my profile button-->
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
              <form class="form-inline my-2 my-lg-0" action="search" method="GET">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchinput"> <!--search bar-->
                  <button id="search" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Search</button> <!--search button-->
              </form>
              <!--log out button-->
              <form action="logout">
                  <button id="logout" class="btn btn-outline-warning my-2 my-sm-0" type="submit" >Logout</button>
              </form>
        </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5"><br>Upload a Meme<br></h1>
      <form class="col-12 col-md-8" method="POST" action="post/upload" accept-charset="UTF-8" enctype="multipart/form-data">
        <div class="form-group"> <!--for the title-->
            <label for="name">Title</label>
            <input class="form-control" placeholder="Enter Title" name="memetitle" type="text" value="" id="memetitle">
        </div>
        <label for="image">Image</label>
        <div class="input-group mb-3"><!--to upload picture-->
          
          <div class="custom-file">
            <input type="file" name="img" class="custom-file-input" id="image">
            <label class="custom-file-label" for="image">Choose file</label>
          </div>
        </div>
        <div class="form-group"> <!--for tags-->
            <label for="name">Tags (Comma separated)</label>
            <input class="form-control" placeholder="Enter Tags" name="tags" type="text" value="" id="tags">
        </div>
        <div class="form-group"> <!--select type-->
            <label for="type">Privacy</label>
            <select class="form-control" id="privacy" name="privacy">
              <option selected="selected" value="public">Public</option>
              <option value="private">Private</option>
            </select>
        </div>
    
        <div>
            <input class="btn btn-primary" type="submit" value="Upload">
        </div>
      </form>
    </main>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
