body{
    background-color: #005cbf;
}

img{
    display: block;
    width: 100%;
}
a.nav-link:focus{
    outline: none;
}

.aCaps:hover{
    text-decoration: none;
    color: blue;
}

.aCaps{
    color: black;
}

main.container{
    padding-top: 20px;
}

.container-fluid{
    width: 95%;
    margin: 0 auto;
}

.container-prof{
    width: 95%;
    margin: 0 auto;
}

.feed {
    width: 80%;
}


.memediv{
    max-width: 80%;

    margin-top: 5px;
    border-width: 1.5px;
}

.memedivprof{
    margin: auto;
    width: 600px;
    margin-bottom: 40px;
    padding: 23px;
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    background-color: antiquewhite;
}

.memedivHome{
    max-width: 80%;

    margin-top: 5px;
    border-width: 1.5px;
}


.memeContent{
    width: 400px;
    height: 200px;
    display:inline;
}

.caption{
    display: inline;
    width: 500px;
    margin: 0px;

}

.caption:hover{
    color: blue;
}

.memedivTag{
    width: 350px;
    height: 450px;
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    padding: 23px;
    background-color: antiquewhite; 
}

.memedivTagsOfTag{
    display: inline-block;
}
.memePicTag{
    margin-left: 25px;
    width: 250px;
    height: 250px;
    display: inline-block;

}
.biggerTag{
    font-size: 18px;
    color: green;
    max-height: 100px;
    height: 100px;
    overflow: scroll;
}

.memePic{
    width: 200px;
    height: 200px;
    display:inline;
}

.buttonid{
    display: inline;

}


#logo{
    height: 40px;
    width: 100px;
}

.imgthumb{
    /*float: left;*/
    max-width: 400px;
    /*height: 200px;*/
    margin: auto;
}

.imgprof{
    width: 500px;
    height: 500px;
    margin-right: 10px;
}


.bigger{
    font-size: 20px;
    height: 200px;
    color: green;
    max-height: 200px;
    overflow: scroll;
}

.biggerprof{
    font-size: 20px;
    color: green;
    max-height: 200px;
    overflow: scroll;
}

.card-body{
    width: 750px;
}